# Rstudio files
.Rproj.user
.Rhistory
.Ruserdata

# Exclude local data file, since I do not own them
/Analyses/LocalData

# Draft code & old workspaces not used in the making of the manuscript
/Analyses/Klad
/Analyses/Scripts/OLD
/Analyses/Workspaces/OLD


